* {
    font-family: 'Source Serif Pro', serif;
}

:root {
    --blue: #024059;
    --tan: #D9CCC1;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

main {
    background-color: #e9ecef;
}

/*  CLASS SELECTORS */
.custom-header {
    height: 38vh;
    width: 100vh;
    background-color: var(--blue);
    color: var(--tan);
}

.box {
    border: solid red 2px;
}

.card-header {
    letter-spacing: 2px;
}

